{% extends 'general/include/head_argon.html'%}

{% load staticfiles %}


{% block main_content %}

<body>
<!-- Sidenav -->

  {% include 'general/include/sidenav.html' %}
   <!-- Main content -->
  <div class="main-content">

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->

        </div>
      </div>
    </div>
    <!-- Page content -->

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Card tables</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Company name</th>
                    <th scope="col">Date posted</th>
                    <th scope="col">Ratings</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for key, value in all.items %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{key}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{value.datetime_update}}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{value.Basic_Information.rating}}
                          {% for i in "r"|center:value.Basic_Information.rating %}
                          <i class="fas fa-star text-yellow"></i>
                          {% endfor %}
                        </span>

                        <div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#" id="edit" onclick="EditCareer('{{key}}', '{{value.Basic_Information.email}}', '{{value.Basic_Information.start}}', '{{value.Basic_Information.end}}', '{{value.Basic_Information.rating}}', '{{value.Contact.address}}', '{{value.Contact.city}}', '{{value.Contact.country}}', '{{value.Contact.postal_code}}', '{{value.message}}')">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <div class="row align-items-center mt-5">
                  <div class="w-100"></div>

                  <div class="row col-md-10 col-lg-10 col-sm-2 no-gutters justify-content-center offset-1" >
                    <button class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="bottom" title="download template" id="download">
                        <i class="ni ni-bold-down"></i>
                    </button>

                    <button class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add another evaluation to the list" id="addOrganization">
                        <i class="ni ni-fat-add"></i>
                    </button>

                    <button class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="bottom" title="Upload completed template" id="upload">
                        <i class="ni ni-bold-up"></i>
                    </button>

                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-12 order-xl-1" id="downloads" style="display:none;"  >
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Download the template</h3>
              </div>

            </div>
          </div>
          <div class="card-body">

              <hr class="my-4" />
              <!-- Submit -->
              <div class="pl-lg-4 text-center">
                <div class="form-group">
                  <a class="btn btn-md btn-primary" href="{% static 'general/assets/docs/ExposeCareerTemplate.docx' %}" style="color:white;" download="Expose Career Template">
                   Download
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 order-xl-1" id="uploads"  style="display:none;" >
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Upload completed template</h3>
              </div>

            </div>
          </div>
          <div class="card-body">
            <form method="post" action="#">
              <hr class="my-4" />
              <div class="pl-lg-4 text-center">
                <div class="form-group">
                  <input type="file" class="form-control" id="file" required>
                  <input type="submit" class="btn btn-md btn-primary mt-4" value="Submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-xl-12 order-xl-1" id="forms" style="display:none;" >
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Add another organization</h3>
              </div>

            </div>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'career' id %}">
              {% csrf_token%}
              <h6 class="heading-small text-muted mb-4">Company information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">Company name</label>
                      <input type="text" id="input-name" name="name" class="form-control form-control-alternative" placeholder="Name of Organization">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" name="email" class="form-control form-control-alternative" placeholder="Organization's email address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="start-date">Start Date(MM/YYYY)</label>
                      <input type="text" id="start-date" name="start" class="form-control form-control-alternative datepicker" placeholder="MM/YYYY">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="end-date">End Date(MM/YYYY)</label>
                      <input class="form-control datepicker form-control-alternative" id="end-date" name="end" placeholder="MM/YYYY" type="text">
                    </div>
                                   
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="ratings">Ratings</label>
                      <select class="form-control form-control-alternative" id="ratings" name="rating" style="background-color:white !important">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <!--<input class="form-control form-control-alternative" id="ratings" name="rating" placeholder="Ratings" type="text">-->
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" name="address" class="form-control form-control-alternative" placeholder="Location of the Organization">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" name="city" class="form-control form-control-alternative" placeholder="City">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" name="country" class="form-control form-control-alternative" placeholder="Country">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code<span style="color:#2dce89"> (Optional)</span></label>
                      <input type="number" id="input-postal-code" name="postal_code" class="form-control form-control-alternative" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Message</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label class="form-control-label">About this Organization</label>
                  <textarea rows="4" id="message" class="form-control form-control-alternative" name="message" placeholder="Write about the organization. Judging from your experience. Basically anything about them"></textarea>
                </div>
              </div>

              <hr class="my-4" />
              <!-- Submit -->
              <div class="pl-lg-4">
                <div class="form-group">
                  
                  <input type="submit" class="btn btn-md btn-primary" value="Save">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include 'general/include/footer_account.html' %}
    </div>
  </div>

  <script>

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

    $("#addOrganization").click(()=>{
      $("#forms").toggle()
      $("#downloads").hide();
      $("#uploads").hide();
    });

    $("#download").click(()=>{
      $("#downloads").toggle()
      $("#forms").hide();
      $("#uploads").hide();
    });

    $("#upload").click(()=>{
      $("#uploads").toggle()
      $("#forms").hide();
      $("#downloads").hide();

    });

    $("#file").hover(()=>{
      $("#file").css("cursor","pointer")

    });



      function EditCareer(key, email, start, end, rating, address, city, country, postalCode, message){
      $("#forms").show();
      $("#input-name").val(key);
      $("#input-email").val(email);
      $("#start-date").val(start);
      $("#end-date").val(end);
      $("#ratings").val(rating);
      $("#input-address").val(address);
      $("#input-city").val(city);
      $("#input-country").val(country);
      $("#input-postal-code").val(postalCode);
      $("#message").val(message);

      };


  </script>

</body>

{% endblock %}